{% include 'header.html' %}
<div class="card shadow rounded">
    <div class="card-header">
        Pythonですぐ体験できる機械学習・深層学習
    </div>
    <div class="card-body" style="background-color:slategrey;">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">機械学習・深層学習デモウェブアプリへようこそ！</h4>
            <hr>
            <p>機械学習・深層学習の入門の勉強のために、自由にご活用ください。</p>
        </div>
        <div class="alert alert-danger">
            <p>アプリケーションの内容はご自身が確認した上で、実行してください。</p>
            <p>このアプリケーションの実行による情報機器への影響や損害など、一切の責任をおいかねますので、ご注意ください。</p>
            <p>アップロードする画像ファイルは、jpegやjpgフォーマットに限ります。</p>
        </div>
    </div>
    <div class="card-footer text-center">
        アドバイス、コメント等は、githubで、issueやPRをください。
        よろしくお願い致します。
    </div>
</div>
{% include 'footer.html' %}