<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <i class="fab fa-python"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">ホーム <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Chainer
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/chainer">Chainer MNIST 手書き認識</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/dogscats">Chainer Dogs & Cats 手書き認識</a></a>
                    <a class="dropdown-item" href="/dogscatsupload">Chainer Dogs & Cats 写真アップロード認識</a></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    TensorFlow
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/keras">Keras MNIST 手書き認識</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/flower">TensorFlow 花 手書き認識</a></a>
                    <a class="dropdown-item" href="/flowerupload">TensorFlow 花 写真アップロード認識</a></a>
                </div>
            </li>
        </ul>
    </div>
</nav>